﻿@using DemoApp.Models
@model List<DemoApp.Models.PetsData>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cat ownsers by gender</h1>
</div>

<div class="row">
    <div class="col-md-1">
            @foreach (var petOwner in Model.ToList())
            {
                    <p><strong>@petOwner.gender</strong></p>
                    <ul>
                        @foreach (var pet in petOwner.pets)
                        {
                            <li>@pet.name</li>
                        }
                    </ul>
            }
</div>
</div>